.nav-bg, .dropdown-bg{    
    background: linear-gradient(rgba(0, 0, 200, 0.8),rgba(0,0,200,0.7)), url('imgs/bg.png');   
}
.section-data{
    background: linear-gradient(rgba(0, 0, 200, 0.8),rgba(0,0,200,0.7)), url('imgs/bg.png');  
}
body{
    background-color: rgba(35, 11, 75, 0.9);
}
.english{
    font-family: 'Cambria', Georgia, Times, 'Times New Roman', serif;
    
}
.engStyle{
    font-family:'Cooper','Edwardian Script ITC','Helvetica Neue', sans-serif;
    font-style: italic;
    font-size: 275%;
}
.eng{
    font-family:'Apple Chancery','Helvetica Neue', sans-serif;
    font-style: italic;
    text-indent: 20px;
}

.myText{
    font-style: italic;
    font-size: 18px;    
}

.nav-section{
    box-shadow: 0px 0px 10px 10px rgba(62, 36, 104, 0.8);
}

.learning{
    width: 90%;
    
}

.notice{
    font-size:  30px;
    font-style: italic;
}